@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
:root{
--Linear-gradient: hsl(249, 99%, 64%);
--Linear-gradient2: hsl(278, 94%, 30%);
--Red: hsl(0, 100%, 66%);
--White: hsl(0, 0%, 100%);
--Light-grayish-violet: hsl(270, 3%, 87%);
--Dark-grayish-violet: hsl(279, 6%, 55%);
--Very-dark-violet: hsl(278, 68%, 11%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

*{
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}
.card1{
    background-image: url(./interactive-card-details-form-main/images/bg-main-mobile.png);
    height: 240px;

}
#card1 {
    background-image: url(./interactive-card-details-form-main/images/bg-card-back.png);
    position: absolute;
    margin-top: 3.1%;
    margin-left: 14.5%;
    width: 310px;
    height: 160px;
    border-radius: 10px;
}
#card2{
    background-image: url(./interactive-card-details-form-main/images/bg-card-front.png);
    position: absolute;
    margin-top: 28.8%;
    margin-left: 4%;
    width: 300px;
    height: 170px;
    border-radius: 10px;
}

.text-card1{
    text-align: center;
    margin-top: 23.5%;
    margin-left: 65%;
    color: var(--White);
}
#card-logo{
    margin-top: 5%;
    margin-left: 8%;
}
.white{
    color: var(--White);

}
.num-card{
    text-align: center;
    margin-top: 8%;
    font-size: 24px;
}
.name-card{
    margin-left: 7%;
    font-size: 12px;
    color: var(--Light-grayish-violet) !important;
}
.expirationDate-card{
    justify-content: end;
    align-items: flex-end;
    text-align: end;
    margin-left: 80%;
    font-size: 12px;
    position: absolute;
    color: var(--Light-grayish-violet) !important;
}
.info-card{
    margin-top: 5%;
    display: flex;
    flex-direction: row;

}
.form   {
    margin-top: 100px;
    height: 50vh;
    
}
form{
    width: 300px;
    margin: 0 auto;
}
label {
    
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color:var(--Linear-gradient2);
  }
  input{
    width: 95.5%;
  }
  .date-card{
    font-size: 16px;
    width: 3.5em;
    margin-right: 4%;
  }
  #cvc-card{
    width: 3em;
    margin-left: 8.5%;
    width: 27.3%;
  }
  #month-year{
    font-size: 16px;
  }
 .info-card2{
    display: flex;
    flex-direction: row;
 }
 .info-card3{
    position: absolute;
    margin-top: 16%;
 }
 #cvc{
    font-size: 18px;
margin-left: 17%;
 }
#submit{
    margin: 30% auto;
    width:100%;  
    padding-top: 18px;
    padding-bottom: 18px;
    color: white;
    border: 0;
    border-radius: 10px;
    background-color:var(--Very-dark-violet);
    cursor: pointer;
    
}
.border{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    border: 1px solid var(--Dark-grayish-violet) !important;
    border-radius: 8px;
    border-color: var(--Dark-grayish-violet);
    opacity: 1;
}
#submit-label{
    margin: 0 0 0 0;
}
#message{
    margin-top: 5px; 
    background-color: Yellow; 
    z-index: 10;
    color: var(--Red);
}
#message2{
    margin-top: 5px; 
    background-color: Yellow; 
    z-index: 10;
    color: var(--Red);
}
@media (min-width:600px) {
    .card1{
        background-image: url(./interactive-card-details-form-main/images/bg-main-desktop.png);
        height: 100%;
        width: 31.3%;  
        position: absolute;
        top: 0px;
    }
    #card1 {
        background-image: url(./interactive-card-details-form-main/images/bg-card-back-desktop.png);
        position: absolute;
        margin-top: 52vh;
        margin-left: 43vh;
        width: 447px;
        height: 245px;
        border-radius: 10px;
    }
    #card2{
        background-image: url(./interactive-card-details-form-main/images/bg-card-front-desktop.png);
        position: absolute;
        margin-top: 20vh;
        margin-left: 32vh;
        width: 447px;
        height: 245px;
        border-radius: 10px;
    }
    
    .text-card1{
        text-align: center;
        margin-top: 23.5%;
        margin-left: 65%;
        color: var(--White);
        font-size: 25px;
    }
    #card-logo{
        margin-top: 5%;
        margin-left: 8%;
    }
    .white{
        color: var(--White);
    }
    .num-card{
        text-align: center;
        margin-top: 8%;
        font-size: 32px;
        letter-spacing: 2px;
    }
    .name-card{
        margin-left: 7%;
        font-size: 14px;
    }
    .expirationDate-card{
        justify-content: end;
        align-items: flex-end;
        text-align: end;
        margin-left: 80.5%;
        font-size: 14px;
        position: absolute;
    }
    .info-card{
        letter-spacing: 1px;
        margin-top: 12%;
        display: flex;
        flex-direction: row;
    }
    .form   {
        margin-top: 12.5%;
        height: 50vh;
        margin-left: 28%;
    }
    form{
        width: 400px;
        margin: 0 auto;
    }
    label {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-top: 1rem;
        margin-bottom: 0.565rem;
      }
      input{
        width: 95.5%;
      }
      .date-card{
        font-size: 16px;
        width: 3.5em;
        margin-right: 4%;
      }
      #cvc-card{
        margin-left: 26.5px;
        width: 100%;
      }
      #month-year{
        font-size: 16px;
        margin-top: 12%;
      }
     .info-card2{
        display: flex;
        flex-direction: row;
     }
     .info-card3{
        position: absolute;
        margin-top: 4.8%;
     }
     #cvc{
        font-size: 18px;
        margin-left: 17%;
        margin-top: 12%;
     }
    #submit{
        margin: 25% auto;
        width:100%;  
        padding-top: 18px;
        padding-bottom: 18px;
        color: white;
        border: 0;
        border-radius: 10px;
        background-color:var(--Very-dark-violet);
    }
    .border{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 10px;
        border: 1px solid var(--Dark-grayish-violet) !important;
        border-radius: 8px;
        border-color: var(--Dark-grayish-violet);
        opacity: 1;
    }
    #submit-label{
        margin: 0 0 0 0;
    }
}